if SHIELD_FROSTORTHO_R

config ZMK_KEYBOARD_NAME
    default "FrostOrtho_R"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_POINTING     # paw3222
    default y

config PAW3222      # paw3222
    default y

endif

if SHIELD_FROSTORTHO_L

config ZMK_KEYBOARD_NAME
    default "FrostOrtho_L"

config ZMK_SPLIT
    default y

endif
